<% if (!file.nil?) %>
<tr id="file_<%= file.id %>" class="issue odd">
	<td class="check">
		<% if (file.last_revision.workflow == 1) %>
			<%= check_box_tag("files[]", file.id, false) %>
		<% else %>
			<%= check_box_tag("files[]", @folder_path + "/" + file.title, false) %>
		<% end %> 
	</td>
	<!-- Ya no hace falta el status, está todo siempre sincronizado contra alfresco
	<td class="status">
		<% if (file.dirty) %>
			<span class="elementDirty">[u]</span>
		<% else %>
			<span class="elementOk">[ok]</span>
		<% end %>
	</td>
	-->
	<td class="title" align="left">
		<% 
			if (file.last_revision.workflow == 1)
				file_download_url = url_for({:only_path => false, :controller => :hgp_cmis_files, :action => "show", :id => @project, :file_id => file.id, :download => ""})
			else 
				file_download_url = url_for({:only_path => false, :controller => :hgp_cmis_files, :action => "show", :id => @project, :file_path => @folder_path + "/" + file.title, :download => ""})
			end 
		%>
				
		<%= link_to(h(file.last_revision.display_title),
        		file_download_url,
        		:class => "icon icon-file #{HgpCmisHelper.filetype_css(file.name)}",
				:title => l(:title_title_version_version_download, :title => h(file.title), :version => file.version),
				"data-downloadurl" => "#{file.last_revision.detect_content_type}:#{h(file.name)}:#{file_download_url}") %>
		<!--<div class="filename" title="<%= l(:title_filename_for_download)%>"><%= h(file.display_name) %></div>-->
		<% case file.last_revision.workflow
				when 1 then %><%= image_tag("waitingforapproval.png", :title => l(:title_waiting_for_approval),
									:plugin => "hgp_cmis") %>
		<% 		when 2 then %><%= image_tag("approved.png", :title => l(:title_approved),
									:plugin => "hgp_cmis") %>
		<% end %>
	</td>
	<td class="size"><%= number_to_human_size(file.last_revision.size) %></td>
	<td class="modified">
		<%= file.last_revision.created_at.strftime("%d-%m-%Y %H:%M") %>
	</td>	
	<td class="modified">
		<%= file.last_revision.updated_at.strftime("%d-%m-%Y %H:%M") %>
		<% if file.locked_for_user? %>
			<%= link_to(image_tag("locked.png", :plugin => "hgp_cmis"), 
					{:controller => "users", :action => "show", :id => file.locks[0].user },
					:title => l(:title_locked_by_user, :user => file.locks[0].user.to_s)) %>
		<% else 
			if file.locked? %>
			<%= image_tag("lockedbycurrent.png", :title => l(:title_locked_by_you), :plugin => "hgp_cmis") %>
		<% 	end %>
		<% end %>
	</td>
	<td class="author"><%= h(file.last_revision.user) %></td>
	<td class="actions">		
		<div class="right_icon_box" style="width: 70px;">									
			<% if !file.locked_for_user? && (User.current.allowed_to?(:hgp_cmis_file_manipulation, @project) || 
				User.current.allowed_to?(:hgp_cmis_create_temp_files, @project) && file.last_revision.workflow == 1) %>			
			<div style="float: right;"> 
				<% if file.last_revision.workflow == 1 %>
					<%= link_to_function(image_tag("delete.png", :plugin => "hgp_cmis"),
						"confirmation_link('#{url_for(:controller => "hgp_cmis_files", :action => 'delete', :id => @project, :file_id => file.id, :folder_path => @folder_path)}')",
						:title => l(:title_delete)) %>					
				<% else %>
					<%= link_to_function(image_tag("delete.png", :plugin => "hgp_cmis"),
						"confirmation_link('#{url_for(:controller => "hgp_cmis_files", :action => 'delete', :id => @project, :file_path => @folder_path + "/" + file.title, :folder_path => @folder_path)}')",
						:title => l(:title_delete)) %>
				<% end %>
			</div>
			<% end %>
			<!-- No permito editar ficheros
			<div style="float: right; margin-right: 10px;">
			<%= link_to(image_tag("filedetails.png", :plugin => "hgp_cmis", :class =>"detail_icon"), 
					{:controller => "hgp_cmis_files", :action => :show, :id => file },
					:title => l(:link_details, :title =>h(file.last_revision.title))) %>
			</div>			
			-->
			<% if User.current.allowed_to?(:hgp_cmis_file_approval, @project) && file.last_revision.workflow == 1 %>
			<div style="float: right; margin-right: 10px;">
				<%= link_to_function(image_tag("approved.png", :plugin => "hgp_cmis"),
					"validation_link('#{url_for(:controller => "hgp_cmis", :action => 'approve_file', :id => @project, :file_id => file, :folder_path => @folder_path)}')",
					:title => l(:title_approve, :title =>h(file.last_revision.title))) %>
			</div>
			<% end %>
		</div>
		<br class="clear" />
	</td>	
	<td class="hidden">1</td>
	<td class="hidden"><%=file.last_revision.size%></td>
	<% if (file.dirty) %>
	<%= javascript_tag (remote_function({ :url => { :controller => 'hgp_cmis', :action => 'synchronize_file', :id => @project, :file_id => file},
             :method => :post,
             :update => 'file_' + file.id.to_s
           })) %>
<% end %>			
</tr>
<% end %>
