<% if (!subfolder.nil?) %>
<tr id="folder_<%= subfolder.id %>" class="issue odd">
	<td class="check">
		<%= check_box_tag("subfolders[]", subfolder.path, false, :title => l(:title_check_for_zip_download_or_email)) %>
	</td>
	<td class="title" align="left">		
		<%= link_to(h(subfolder.title),
          {:action => "show", :id => @project, :folder_path => subfolder.path, :alfresco_uuid => subfolder.alfresco_uuid},
          :class => "icon icon-folder") %>
	</td>
	<td class="size" title="<%= l(:title_total_size_of_all_files)%>"><%= number_to_human_size(subfolder.deep_size) %></td>
	<td class="modified"><%= subfolder.created_at.strftime("%d-%m-%Y %H:%M") %></td>
	<td class="modified"><%= subfolder.updated_at.strftime("%d-%m-%Y %H:%M") %></td>
	<!--<td class="version"></td>-->
	<td class="author"><%= h(subfolder.user) %></td>
	<td class="actions">
		<div class="right_icon_box" style="width: 40px;">
			<% if User.current.allowed_to?(:hgp_cmis_folder_manipulation, @project) %>
				<div style="float: right">
					<%= link_to_function(image_tag("delete.png", :plugin => "hgp_cmis"),
							"confirmation_link('#{url_for(:action => 'delete', :id => @project, 
								:folder_id => subfolder, :delete_folder_path => subfolder.path)}')", 
							:title => l(:title_delete))%>
				</div>
			<% end %>
		</div>
		<br class="clear" />
	</td>
	<td class="hidden">0</td>
	<td class="hidden"><%= subfolder.deep_size %></td>

</tr>
<% end %>
